.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
}

.content > section {
  min-width: 50vw;
}

@media screen and (min-width: 760px) {
  .content {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 1300px) {
  .content {
    justify-content: center;
  }

  .content > section {
    min-width: 30vw;
  }
}