@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    color: #00a505;

    border-bottom: 2px solid #00a505;
    padding: .80em;
    margin: 0;
}

.header svg {
    padding: .25em;
}

@media screen and (min-width: 760px) {
    .header {
        justify-content: space-around;
    }

    .btn-open-menu {
      display: none;
    }
  }