@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    color: #00a505;

    border-bottom: 2px solid #00a505;
    padding: .80em;
    margin: 0;
}

.header svg {
    padding: .25em;
}

.nav-menu {
    position: absolute;
    width: 90vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
}